body {
  font-family:monospace	;
  color: #666565;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#ffffff;
  overflow-x:hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-style: outset;
  box-shadow: 5px 10px transparent;
}

  .sidenav a {
    padding: 1rem 10rem 1rem 1rem;
    text-decoration: none;
    font-size: 1.5em;
    color: #747474;
    display: block;
    transition: 0.3s;
  }
  .sidenav a:hover {
    background-color: #cccccc;
  }
  .login{
    position: absolute;
    top:25px;
    right: 25px;
  }
  #main {
    transition: margin-left .5s;
    padding: 2em;
  }

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
  
  .cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
  }
   
  .image{
    width: 200px;
    height: 120px;
  }
  .image img {
    width: 100%;
    height: auto;
}
.article h3{
  font-size: 1.5em;
}
.about{
  width: 50%;
  height:50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.aboutimg img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  height:auto;
}
.articleimg{
  display: inline;
  }
  .articleimg img {
    width: 10%;
    height: auto;
    float: left;
}
.art{
  font-size: 1em;
  font-weight: bold;
  padding: 1.5em;
}
  @media (min-width: 360px) {
    .cards { grid-template-columns: repeat(1, 1fr); }
  }
  @media (min-width: 768px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
  }
  @media (min-width: 992px) {
    .cards { grid-template-columns: repeat(3, 1fr); }
  }
  @media (min-width: 1200px) {
    .cards { grid-template-columns: repeat(4, 1fr); }
  }
  hr.dashed {
    border: 0.5px solid rgb(223, 223, 223);
  }
  .fContent {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
  }

  .footerData h3{
    font-size: 1.5em;
  }
  
  .footerData .links a{
    background-color: #747474;
    color: #ffffff;
    text-decoration: none;
    display: inline-flex;
    margin-top: 2em;
    padding: 0.3em;
  }
  .footerData .links a:hover{
    background-color: black;
    font-weight: bold;
    font-size:large;
  }
  @media (min-width: 360px) {
    .fContent { grid-template-columns: repeat(1, 1fr); }
  }
  @media (min-width: 768px) {
    .fContent { grid-template-columns: repeat(3, 1fr); }
  }